<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>TC MOBILE'S</title>
    {% load static %}
    <link  rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  </head>
  <script>
      
    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");
  
    loader.classList.add("loader--hidden");
  
    loader.addEventListener("transitionend", () => {
      document.body.removeChild(loader);
    });
  });


$(".image-checkbox").each(function () {
  if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
    $(this).addClass('image-checkbox-checked');
  }
  else {
    $(this).removeClass('image-checkbox-checked');
  }
});

// sync the state to the input
$(".image-checkbox").on("click", function (e) {
  $(this).toggleClass('image-checkbox-checked');
  var $checkbox = $(this).find('input[type="checkbox"]');
  $checkbox.prop("checked",!$checkbox.prop("checked"))

  e.preventDefault();
});

      </script>   
<body class="bg-white">    
    {% block content %}
    
    
    
    {% endblock %}

    <br><br>
    <!-- Footer  -->
     <nav class="footer-nav" style="padding-bottom: 0px;">
      <a href="/" class="nav-item" id="home">
        <img src="{% static 'images/svg/home.svg' %}" width="50%"  alt="">
        <span>Home</span>
      </a>

      <a href="/book" class="nav-item" id="buy-sell">
        <img src="{% static 'images/svg/sell.svg' %}"   width="50%" alt="">
        <span>Buy/Sell</span>
      </a>

      <a href="/product" class="nav-item" id="store">
        <img src="{% static 'images/svg/shop.svg' %}" width="50%"   alt="">
        <span>Store</span>
      </a>

      <a href="/cart" class="nav-item" id="cart">
        <button type="button" class="btn bg-white position-relative p-0">
        <img src="{% static 'images/svg/cart.svg' %}" width="50%"  alt="">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
          {{request.session.cart.keys|length}}
        </span>
        <span style="font-size: x-small;">Cart</span>
        </button>
      </a>

      <a href="/orders" class="nav-item" id="settings">
        <img src="{% static 'images/svg/profile.svg' %}" width="50%"  alt="">
        <span>Account</span>
      </a>

  

    </nav>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
 
    
   </div>

  </body>
</html>