<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>TC MOBILE'S</title>
    {% load static %}
    
    <!-- Option 1: Include in HTML -->
    <link  rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    
  </head>
 
  <script>
      
    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");
  
    loader.classList.add("loader--hidden");
  
    loader.addEventListener("transitionend", () => {
      document.body.removeChild(loader);
    });
  });

  // image gallery
// init the state from the input
$(".image-checkbox").each(function () {
  if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
    $(this).addClass('image-checkbox-checked');
  }
  else {
    $(this).removeClass('image-checkbox-checked');
  }
});

// sync the state to the input
$(".image-checkbox").on("click", function (e) {
  $(this).toggleClass('image-checkbox-checked');
  var $checkbox = $(this).find('input[type="checkbox"]');
  $checkbox.prop("checked",!$checkbox.prop("checked"))

  e.preventDefault();
});


function showhide()
{
  var div = document.getElementById('otherbox');
  div.style.display = "block";

}

function showhide1()
{
  var div = document.getElementById('otherbox1');
  div.style.display = "block";

}


      </script>    

<body>    
    <!-- Nev baar -->
    
    <div class="loader"></div>
 
 {% if user %}
    <form id="myForm" action="{% url 'testing' %}" method="get">

    <div class="navbar fixed fixed-top">
         <div style="display: flex;justify-content: space-between;;">


          <p style="font-size: small;color: white;text-align: right;"><img src="{% static 'images/svg/profile.svg' %}" class="bg-light rouded rounded-3 p-1" > {{user}}</p>

             <p style="font-size: small;color: white;" class="ms-5 ps-5"><img src="{% static 'images/svg/location.svg' %}" class="bg-light rouded rounded-3 p-1"> {{location}}</p>
          
        </div>
        <div class="search d-flex">
            <input type="text" id="search-input" name="query" placeholder="Search any items">
            <button id="search-button" type="submit">
                <img src="{% static 'images/svg/search.svg' %}" alt="Search">
            </button>
        </div>
       
    </div>
</form>
{% endif %}
         



    <!-- end nev -->
    {% block content %}
    
    
    
    {% endblock %}

    <br><br>
    <!-- Footer  -->
     <!-- --------Services icons------------------ -->
     <nav class="footer-nav" style="padding-bottom: 0px;">
      <a href="/" class="nav-item" id="home">
        <img src="{% static 'images/svg/home.svg' %}" width="50%"  alt="">
        <span>Home</span>
      </a>

      <a href="/book" class="nav-item" id="buy-sell">
        <img src="{% static 'images/svg/sell.svg' %}"   width="50%" alt="">
        <span>Buy/Sell</span>
      </a>

      <a href="/product" class="nav-item" id="store">
        <img src="{% static 'images/svg/shop.svg' %}" width="50%"   alt="">
        <span>Store</span>
      </a>

      <a href="/cart" class="nav-item" id="cart">
        <button type="button" class="btn bg-white position-relative p-0">
        <img src="{% static 'images/svg/cart.svg' %}" width="50%"  alt="">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
          {{request.session.cart.keys|length}}
        </span>
        <span style="font-size: x-small;">Cart</span>
        </button>
      </a>

      <a href="/update" class="nav-item" id="settings">
        <img src="{% static 'images/svg/profile.svg' %}" width="50%"  alt="">
        <span>Settings</span>
      </a>

  

    </nav>
   <script>
  var form = document.getElementById('phone_repairing');
  form.addEventListener("submit", e => {
    e.preventDefault();
    fetch(form.action, {
        method : "POST",
        body: new FormData(document.getElementById("phone_repairing")),
    }).then(
        response => response.json()
    ).then((html) => {
      // you can put any JS code here
      window.location.href = "http://127.0.0.1:8000";
    });
  });
</script>
    
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
 
    
   </div>

  </body>
</html>