{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}
   <div class="container bg-white mt-3"  >
      <div class="row text-center " >
        <div class="col-6">
              <a href="/orders" class="btn text-white shadow shadow-sm w-100" style="background-color: #232F3E;">MY ORDERS</a>
        </div>
        <div class="col-6" >
              <a href="/rhis" class="btn text-white shadow shadow-sm w-100" style="background-color: #232F3E;">BOOKINGS</a>
        </div>
      </div>
      <div class="col-12 mt-3">
          <a href="/update" class="w-100 btn btn-danger text white">Account Details</a>
      </div>
    </div>
    <hr>
 
  <div class="container mt-5">
        <h1>View Your Booking Request</h1>
        <p>You can view your booking request on WhatsApp by clicking the button below:</p>

        <!-- Replace 'PHONE_NUMBER' with the actual phone number -->
        <a href="https://wa.me/7330012300?text=I%20have%20send%20repairing%20request." class="btn btn-success">Contact on WhatsApp</a>
    </div>

{% endblock %}
