{% extends 'base.html' %}
    
{% block content %}
{% load cart %}
<div class="container" style="margin-top: 30%;">
      <div class="container ">
           
            {% for i in products %}
          
              <div class="card p-2 border border-0 shadow-sm">
                  <div class="p-1 rouded rounded-2 card-title bg-secondary text-white">
                        Sno. {{forloop.counter}} <span> <b class="text-white bg-warning pe-2 ps-2 rounded">{{i.name}}</b> </span>
                  </div>
                  <div class="content row pt-1">
                          <div class="col-6 ">
                              <img src="{{i.image.url}}" class="card-img  " style="width: 90px;font-family: Arial;" alt="">
                          </div>
                          <div class="col-6 " style="line-height:10px;">
                              <p class="bg-white">Price    = {{i.discount}}</p>
                              <p class="bg-white">Quantity = {{i|check_count:request.session.cart}}</p>
                              <p class="bg-white">Total = {{i|price_total:request.session.cart}}</p>

                         </div>
                  </div>

              </div>
              {% endfor %}
          </div>
          <div class="title m-3   p-0 m-0">
            <div class="row bg-white   p-2 rouded rouded-2 ">
              <div class="col-6 h4 p-0 text-center" >
                   <p style="font-family:Arial;">Total Amount</p>
              </div>
              <div class="col-6 text-center h4" style="font-family:Arial;">
               = {{products|total_cart_price:request.session.cart}} &#8377;
              </div>
            </div>
         </div>
          
          
      <div class=" rounded  pt-0">
   

           <div class="container">
            <div class="row">
                  <div class="col-4 ps-1">
                        <a href="/product" class="btn  btn-dark btn-sm text-white rounded  btn-danger col-lg-3 float-right">Add item </a>
                  </div>

                  {% if products %}
                  <div class="col   pl-4 ">
                        <form action="/check-out/" method="post">
                              {% csrf_token %}
                              <input type="text" hidden name="total" value="{{products|total_cart_price:request.session.cart}}">
                         <input type="submit" class="btn w-100 btn-warning btn-sm text-black rounded  btn-warning col-lg-3 float-right"  value="Check out" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  </div>
                  {% endif %}
            </div>
            </div>
           </div>
           
           
      </div>
</div>


  <!-- ----------Model for imput------------ -->
<!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Check Out Form</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
            <div class="m-2 p3">
                  <form action="/check-out/" method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                          <label for="" class="form-label">Address</label>
                          <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                          <small id="helpId" class="text-muted">Enter current address</small>
                        </div>

                        <div class="mb-3">
                          <label for="" class="form-label">Phone</label>
                          <input type="tel" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                          <small id="helpId" class="text-muted">Enter working phoe number </small>
                        </div>

                        <select class="form-select" aria-label="Default select example" name="zone" required>
                              <option selected>Select Zone</option>
                              <option value="TOLICHOWKI">TOLICHOWKI</option>
                              <option value="GACHIBOWLI">GACHIBOWLI</option>
                              <option value="MEHDIPATNAM">MEHDIPATNAM</option>
                        </select>
                        <small id="helpId" class="text-muted">We deliver only these zone</small>

                         <input type="submit" class= " form-control mt-3 text-dark btn btn-warning btn-warning text-black col-lg-6 flo"  style="font-weight: bold;" value="ORDER NOW">
                  </form>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}