{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Main container div body -->


         <!-- ---------------- Booking Models & Form ----------------- -->
<!-- Modal -->
<div class="modal fade bg-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content rounded rounded-3 gradient-border">
      <div class="modal-header">
        <h1 class="modal-title fs-5"  id="exampleModalLabel">MOBILE REPAIRING</h1>
      </div>
      <div class="modal-body">
        
        <!-- ------Brnad Slection---- -->
        
        <!-- <form  id="sheetdb-form" name="userAccountSetupForm" onload="alert('Your Booking is Done')" action="https://sheetdb.io/api/v1/58d2lqqnmyrjj" enctype="multipart/form-data" method="POST" class="text-base-content"> -->
      {% csrf_token %}

        {% if user %}
          <div class="box" hidden>
            <input type="text" value="{{user}}" name="data[NAME]">
            <input type="text" value="{{mail}}" name="data[NUMBER]">
            <input type="text" value="{{phone}}" name="data[BRAND]">
          </div>
       {% endif %}
          
          
              <form action="">

                <center>
                  <p class=" text-center h4 p-1 mt-1 bg-warning  text-white  shadow shadow-lg border border-0  rounded rounded-3" >
                   Select device problem
                 </p> 
               </center>
        
                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="diplay" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="diplay" style="width: 70px;">  
                    <img src="{% static './images/fix/displayfix.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Display   </small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="Battery" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="Battery" style="width: 70px;">  
                    <img src="{% static './images/fix/battery.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Battery   </small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="camera" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="camera" style="width: 70px;">  
                    <img src="{% static './images/fix/camera.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Camera   </small>
                    </label>
                  </div>
                  <div class="col ">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="mic" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="mic" style="width: 70px;">  
                    <img src="{% static './images/fix/mic.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Mic   </small>
                    </label>
                  </div>
                </div>

                <div class="row g-1">
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="speaker" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="speaker" style="width: 70px;">  
                    <img src="{% static './images/fix/speaker.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>speaker   </small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="water" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="water" style="width: 70px;">  
                    <img src="{% static './images/fix/water.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Water</small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="lock" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow" for="lock" style="width: 70px;">  
                    <img src="{% static './images/fix/lock.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Unlock</small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="checkbox"  class="btn-check " name="options-outlined" id="mic" autocomplete="off"  >
                    <label class="btn btn-outline-warning shadow " for="mic" style="width: 70px;">  
                    <img src="{% static './images/fix/mic.png' %}" class="img-fluid   "   alt="Image 1">
                    <small>Mic   </small>
                    </label>
                  </div>
                </div>

                
                <center>
                  <p class=" text-center h4 p-1 mt-4 bg-dark  text-white  shadow shadow-lg border border-0  rounded rounded-3" >
                   Select mobile brand
                 </p> 
               </center>
        
                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="apple" autocomplete="off"  >
                    <label class="btn btn-outline-secondary  " for="apple" style="width: 70px;">  
                    <img src="{% static './images/brands/apple.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="mi" autocomplete="off"  >
                    <label class="btn btn-outline-secondary  " for="mi" style="width: 70px;">  
                    <img src="{% static './images/brands/mi.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="samsung" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="samsung" style="width: 70px;">  
                    <img src="{% static './images/brands/samsung.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="realme" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="realme" style="width: 70px;">  
                    <img src="{% static './images/brands/realme.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                </div>

                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="honor" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="honor" style="width: 70px;">  
                    <img src="{% static './images/brands/honor.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="iqoo" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="iqoo" style="width: 70px;">  
                    <img src="{% static './images/brands/iqoo.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="pcoc" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="pcoc" style="width: 70px;">  
                    <img src="{% static './images/brands/pcoc.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="letv" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="letv" style="width: 70px;">  
                    <img src="{% static './images/brands/letv.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                
                </div>
                <div class="row g-1">
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="vivo" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="vivo" style="width: 70px;">  
                    <img src="{% static './images/brands/vivo.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="oppo" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="oppo" style="width: 70px;">  
                    <img src="{% static './images/brands/oppo.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="oneplus" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="oneplus" style="width: 70px;">  
                    <img src="{% static './images/brands/oneplus.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="radio"  class="btn-check " name="options-outlined" id="asus" autocomplete="off"  >
                    <label class="btn btn-outline-secondary " for="asus" style="width: 70px;">  
                    <img src="{% static './images/brands/asus.jpg' %}" class="img-fluid w-70 " alt="Image 1">
                    </label>
                  </div>
                
                </div>


               
              </form>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark"  data-bs-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-warning fw-bold " value="Submit Reaquest">
            </div>
          </form>
    </div>
  </div>
</div>



         <!-- ----------card and catogery option------- -->
         <div class="container bg-dark pt-4 pb-4">
         <div  id="carouselExampleAutoplaying" class="carousel slide    shadow shadow-sm  border border-0 m-0 rounded rounded-2" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <img src="{% static './images/1.png' %}" class="d-block w-120 img-fluid shadow" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static './images/2.png' %}" class="d-block w-110 img-fluid " alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static './images/3.png' %}" class="d-block w-110 img-fluid " alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>     
      </div>
      


      


        <!-- Slection of device for   ing -->

        

        <div class="container mb-5">
          <div class="row gap-0 gutters p-1">
              <div class="col-6 mb-2">
                <div class="service-box shadow shadow-sm border rounded gradient-border rounded-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <img src="{% static 'images/services/phone.jpg' %}" alt="#">
                  <p>Phone Repair</p>
                  <span class=" text-white p-1 rounded rounded-3" style="background-color: #232f3e;">&#8594;</span>
                </div>
              </div>
              <div class="col-6 mb-2">
                <div class="service-box shadow shadow-sm border rounded rounded-2 gradient-border">
                  <img src="{% static 'images/services/laptop.png' %}" alt="#">
                  <p>Laptop Repair</p>
                  <span class=" text-white  p-1 rounded rounded-3" style="background-color: #232f3e;">&#8594;</span>
                  </div>
              </div>
              <div class="col-6">
                  <div class="service-box shadow shadow-sm border border-warning rounded rounded-2">
                      <img src="{% static 'images/services/store.jpeg' %}" alt="#">
                      <p>Online Store</p>
                  </div>
              </div>
              <div class="col-6">
                  
                  <div class="service-box shadow shadow-sm border border-warning  rounded rounded-2">
                      <img src="{% static 'images/services/second.png' %}" alt="#">
                      <p>Buy & Sell</p>
                  </div>
              </div>
          </div>


          <div class="row gap-0 gutters p-3">
                    <p class="text-center fw-bold " style="font-size: large;">OUR BEST SERVICES</p>
            <div class="col-3 p-0">
              <div class="service-box shadow shadow-sm p-1 rounded  rounded-2" style="border:0.6px solid #232f3e;">
                <img src="{% static 'images/services/cctv.png' %}" alt="#">
                <p style="font-size: x-small;" class="fw-bold">CCTV SETUP</p>
              </div>
            </div>
            <div class="col-3 p-0">
              <div class="service-box shadow shadow-sm p-1 rounded  rounded-2" style="border:0.6px solid #232f3e;">
                <img src="{% static 'images/services/laptop.png' %}" alt="#">
                <p style="font-size: x-small;" class="fw-bold">WIFI LAN SETUP</p>
                </div>
            </div>
            <div class="col-3 p-0">
              <div class="service-box shadow shadow-sm p-1 rounded  rounded-2" style="border:0.6px solid #232f3e;">
                    <img src="{% static 'images/services/store.jpeg' %}" alt="#">
                <p style="font-size: x-small;" class="fw-bold">OTHER SERVICES</p>
              </div>
            </div>
            <div class="col-3 p-0">
              
              <div class="service-box shadow shadow-sm p-1 rounded  rounded-2" style="border:0.6px solid #232f3e;">
                <img src="{% static 'images/services/second.png' %}" alt="#">
                <p style="font-size: x-small;" class="fw-bold">OTHER SERVICES</p>
                </div>
            </div>
        </div>

          

          

          <a href="/profile" style="text-decoration: none;color: white;">
          <div  class="service-box shadow shadow-sm border rounded rounded-2 row  " style="background-color: #FF9900;"> 
            <img src="{% static 'images/services/profile.png' %}" class="col-4" alt="#">
            <div class="content col-8">
               <h4>Technicians</h4>
              <p style="font-size: x-small;">Just connect with technician and repair your device.</p>
              <span class="bg-secondary text-white p-1 rounded rounded-3">&#8594;</span>
            </div>
          </div>
        </a>
          <div  class="service-box shadow shadow-sm border rounded rounded-2 row text-white " style="background-color: #232f3e;">
            <img src="{% static 'images/services/store.png' %}" class="col-4" alt="#">
            <div class="content content col-8">
              <h4>Stores</h4>
              <p style="font-size: x-small;">Near by stores at your location reapir device physically</p>
              <span class="bg-secondary text-white p-1 rounded rounded-3">&#8594;</span>
          </div>
        </div>
      </div>
  
      
      

        
    
        
    

     <div class="product-slider mb-5">
      <div class="slider ">
          <div class="slide shadow rounded border" >
              <img src="product1.jpg" alt="Product 1">
              <h2>Product 1</h2>
              <p>Description for Product 1.</p>
          </div>
          <div class="slide shadow rounded border">
              <img src="product2.jpg" alt="Product 2">
              <h2>Product 2</h2>
              <p>Description for Product 2.</p>
          </div>
          <div class="slide shadow rounded border">
              <img src="product3.jpg" alt="Product 3">
              <h2>Product 3</h2>
              <p>Description for Product 3.</p>
          </div>
          <!-- Add more slides as needed -->
      </div>
      <div class="controls">
          <button style="border-radius: 15px;" id="prev">Previous</button>
          <button style="border-radius: 15px;" id="next">Next</button>
      </div>
    </div>


       
        


           
{% endblock %}


