<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" integrity="maincss" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" integrity="stylecss" crossorigin="anonymous">
  <link href="{% static 'css/font/style.css' %}" rel="stylesheet" integrity="stylasdasecss" crossorigin="anonymous">

 
  
  <title>LOGIN</title>

<script>
     window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");
  
    loader.classList.add("loader--hidden");
  
    loader.addEventListener("transitionend", () => {
      document.body.removeChild(loader);
    });
  });
</script>

<style>
  body {
    /* background-image: url("{% static '/images/new.png' %}");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: 	#28282B;

  }
</style>

</head>
<body>
  
  <div class="loader"></div>

    
    <div class="container ">
      
      <section id="signup" class="vh-75 mt-5 " >
        <div class="container h-100 ">
          <div class="row d-flex justify-content-center  align-items-center h-100">
            <div class="col-lg-12 col-xl-11 text-center">
              
              <div class="card bg-white gradient-border mt-5 border border-0 shadow-sm text-black " >
                <div class="card-body p-md-">
                  <img src="{% static '/images/svg/logo.svg' %}" width="50%" alt="">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                      <!-- <small>Enter your mail & password and login</small> -->
                      {% if error %}
                      <div class="container">
                       <p class="alert alert-danger ">
                          {{error}}
                       </p>
                      </div>
                     {% endif %}
  
                      <!-- ------form ragisteration-- -->
                      <form class="mx-1 mx-md-4 mt-4" method="POST" action="/login/" >
                      {% csrf_token %}
              


                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="" name="email" class="form-control p-3 w-100 shadow-sm " placeholder="Enter Gmail Id"/>
                          <p class="alert alert-danger text-small " hidden> Remove Spaces</p>
                        </div>
                      </div>
                      
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="myInput" name="password" class="form-control p-3 shadow-sm " placeholder="Enter Password"/>
                       <p class="alert alert-danger text-small " hidden> Remove Spaces</p>
                        </div>
                      </div>

                        <button type="submit" class="text-center h6 fw-bold p-2 btn w-100 mb-0  mt-2 text-white  rounded rouded-4" style="background-color: #232f3e;">Login now</button>
                        <a href="/signup/#signup" class="text-center h6 fw-bold p-2 btn w-100 mb-3   mt-2 text-white  rounded rouded-4" style="background-color: #FF9900;">Create a account</a>
                        <a href="#" style="text-decoration: none;color: #232f3e;font-size: small;">Need Help / Forgot Password</a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <script src="{% static 'js/script.js' %}"></script>    
  </body>
  </html>