{% extends 'base.html' %}  
{% block content %}

  {% load cart %}
<div class="container bg-ligt bg-opacity-25 shadow-sm d-fluid ">
    <div class="contain text-center w-max ">
      <div class="row mx-auto "   >
        <div class="dropdown text-center mb-3">
          <div class="list-group mt-3 dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:1px;" >
            <a href="?" class="list-group-item list-group-item-action text-white border rounded-2 mb-1 text-center drop-shadow border-dark bg-dark text-dark border border-dark shadow-sm" ><script src="https://cdn.lordicon.com/qjzruarw.js"></script>
      Filter Items  <br> <small>Click 👆 & search items</small></a>
          </div>
         
          <ul class="dropdown-menu dropdown-menu-white" >
            <li><a href="?"  class="dropdown-item w-75 text-center " >Select Items</a></li>
            <hr>
            {% for i in catogereis %}
            <li><a href="?categories={{i.id}}"  class="dropdown-item shadow shadow-sm w-100 m-1 " >&#8594; {{i.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
       </div>
    </div>


    
  
    <div class="container bg-light  ">
      <div class="row">
            {% for i in product %}
            <div class=" col-lg-3 col-6 mb-0 p-1 p-sm-3 ">
              <div class="mb-2 card border border-0 shadow shadow-sm" id="{{i.id}}" width="8rem"  >
                <img src="{{i.image.url}}" class="card-img-top mx-auto m-1 p-0  img-fluid "  alt="..." > 
                <p class="card-title ms-2 text-center">{{i.name}}</p>
                <center>
                  <p class="  h6 p-0 bg-light text-dark w-50 text-center rounded "><del>{{i.discount}} &#8377;</del></p>
                <p class="  h5 p-0 bg-dark text-white w-50 text-center rounded ">{{i.price}} &#8377;</p>
                <small style="font-size: x-small;margin-top: -10px;">Free Delevery</small>
              </center>
                <div class="card-footer border-0 border bg-white  ">
                  {% if i|check_cart:request.session.cart %}
                  <div class="row no-gutters p-0" >

                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="text" hidden name="remove"  value="true">                       
                      <input type="submit"  value="-" class=" btn  w-50 btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">                       
                    </form>

                    <div class="text-center col pt-2 "><stronge>{{i|check_count:request.session.cart }}</stronge></div>
                    
                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="submit" value="+" class=" btn  w-50  text-center btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                       
                      </form>

                    </div>
                  {% else %}
                  <form action="/product/#{{i.id}}" method="POST" class="btn-block p-0">
                    {% csrf_token %}
                  <input name="product" hidden type="text" value='{{i.id}}' />
                  <input type="submit"  class="btn  border-rounded  bg-danger border-opacity-75  rounded-5 shadow  w-100 text-white" name="cart" style="height:2rem;font-size: small;height: auto; "  value="BUY NOW" />
  
                  </form>
                    {% endif %}
                </div>
                
           </div>
          </div> 
          
           {% endfor %}
      </div>
      </div>
     </div>     
           
</div>  
<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
{% endblock %}