<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <title>LOGIN</title>
</head>

<script>
    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");
  
    loader.classList.add("loader--hidden");
  
    loader.addEventListener("transitionend", () => {
      document.body.removeChild(loader);
    });
  });
</script>


<body>
    <div class="loader" ></div>

<center>
  <div style="width:260px;background-color:black;height: 15px;margin-top: 0%;margin-bottom: 20px;
  border-bottom-left-radius:30px;border-bottom-right-radius:30px;" class="gradient-border"></div>
</center>


        {% if user %}
              {% for i in url %}
              <form action="{{i.url}}" method="post" id="phone_repairing">
        {% endfor %}


<!-- Modal -->

    <div class="modal fade " id="submit" tabindex="-1" role="dialog" aria-labelledby="submitlable" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content p-3 " style="border-radius:10px;">
              <div class="modal-body p-3 text-center">
                <div class="spinner-border text-warning" role="status" style="width:50px;height: 50px;">
                    <span class="visually-hidden"></span>
                  </div>  
                </div>
                <center>
                <p class="bg-dark p-1 rounded w-75 text-white text-center">Please Wait ..</p>
                </center>
          </div>
    </div>
  </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered m-4">
    <div class="modal-content">     
      <div class="modal-body text-center">
        <center>
      <div class="modal-body" >
         <div class="text-center">
            <h5>Dear {{user}}</h5>
            <p style="font-size:small;">Your request has been submited we will contact you soon.</p>
            <p style="font-size:x-small;">For more details contact: {{contact}} </p>
            <img src="{% static 'images/services/success.gif' %}" class="img-fluid shadow shadow-sm m-1 rounded rounded-2" width="30%">
            <input href="/" class="btn btn-warning text-dark shadow m-1"  type="submit"  type="button"    value="Confirm Request"  data-bs-toggle="modal" data-bs-target="#submit">
        </div>
      </div>
      </div>
      </center>
        
      
    </div>
  </div>
</div>


      <div class="container   mb-3" >
          <div class="box" hidden >
            <input type="text" value="{{user}}" name="data[NAME]">
            <input type="text" value="{{mail}}" name="data[GMAIL]">
            <input type="text" value="{{phone}}" name="data[PHONE]">
            <!-- <input type="text" value="918897103324" name="data[WHATSAPP]"> -->
          </div>
          
      <div class="box" style="line-height:10px;margin-bottom: 20px;">
            <p class=" fw-bold text-center  mb-2 p-0 "  >QUICK REPAIR - SERVICE</p>
            <p class="  text-center  mb-2 p-0 " style="font-size:small;" >Select Problem & Brand only.</p>
            <center>
            <hr width="70%" >
            </center>

          </div>
            <p class=" fw-bold m-1 mb-2 p-0 " style="font-size: large;">&#8594; Select Problem </p>

             <div class="problem mb-5 shadow p-1 rounded">
                <div class="row g-1 mb-2">

                   <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="CrackFix" value="CrackFix"  >
                    <label class="btn btn-outline-warning " for="CrackFix" style="width: 70px;">
                    <img src="{% static './images/mobilefix/crackfix.png' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">CrackFix</small>
                    </label>
                  </div>

                  <div class="col" >
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]" id="diplay" value="Display Repair" >
                    <label class="btn btn-outline-warning " for="diplay" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/displayfix.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Display   </small>
                    </label>
                  </div>

                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="camera" value="Camera Repair" >
                    <label class="btn btn-outline-warning " for="camera" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/camera.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Camera   </small>
                    </label>
                  </div>
                    <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="speaker" value="Speacker Repair"  >
                    <label class="btn btn-outline-warning " for="speaker" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/speaker.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Speaker</small>
                    </label>
                  </div>


                </div>

                
                 <div class="row g-1 mb-2">

                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="mic" value="Mic Repairing"  >
                    <label class="btn btn-outline-warning  " for="mic" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/mic.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Mic</small>
                    </label>
                  </div>

                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="lock" value="Unlcking"  >
                    <label class="btn btn-outline-warning " for="lock" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/lock.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Unlock</small>
                    </label>
                  </div>

                  <div class="col ">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="Software" value="Software Problem"  >
                    <label class="btn btn-outline-warning " for="Software" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/flash.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Software</small>
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="water" value="Water damage" >
                    <label class="btn btn-outline-warning " for="water" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/water.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Water</small>
                    </label>
                  </div>


                </div>

          <div class="row g-1">
                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="Board" value="Motherboard">
                    <label class="btn btn-outline-warning " for="Board" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/bord.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Board</small>
                    </label>
                  </div>
                    <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="Battery" value="Battery Repair" >
                    <label class="btn btn-outline-warning " for="Battery" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/battery.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Battery   </small>
                    </label>
                  </div>
                 
                  <div class="col">
                    <input type="checkbox"  class="btn-check "  name="data[PROBLEM]"  id="Jack" value="Earphone Jack"  >
                    <label class="btn btn-outline-warning " for="Jack" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/jack.webp' %}" class="img-fluid   "   alt="Image 1">
                    <small style="font-size:x-small;color: black;">Jack</small>
                    </label>
                  </div>
                  <div class="col">
                    <input type="button"  class="btn-check "    id="OTHER"   >
                    <label class="btn btn-outline-warning  " onclick="showhide()" for="OTHER" style="width: 70px;">  
                    <img src="{% static './images/svg/other.svg' %}" class="img-fluid   " style="width: 70px;"  alt="Image 1">
                    <small style="font-size:x-small;color: black;">OTHER</small>
                    </label>
                  </div>
                </div>
                <div class="row g-1 p-1 mt-1" id="otherbox" style="display: none;" >
                <div class="col-12 p-0">
                  <input type="text" class="form-control w-100 active border border-dark shadow shadow-lg " name="data[OTHER_PROBLEM]" placeholder="Enter problem here">
                 </div>
                 </div>
                </div>
        

               


          <p class=" m-1 mb-3 p-0 fw-bold " style="font-size: large;">&#8594; Company (Brand)</p>
          <div class="brand shadow p-1 rounded">
            <div class="brand" id="brand-section">
  <!-- ... your brand selection code ... -->
                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="apple" value="IPhone" >
                    <label class="btn btn-outline-secondary p-3 " for="apple" style="width: 70px;">  
                    <img src="{% static './images/mobilefix/apple.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="mi" value="Redmi / Mi" >
                    <label class="btn btn-outline-secondary p-0 " for="mi" style="width: 70px;">  
                    <img src="{% static './images/mobile/mi.webp' %}" class="img-fluid " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="samsung" value="Samsung" >
                    <label class="btn btn-outline-secondary p-0" for="samsung" style="width: 70px;">  
                    <img src="{% static './images/mobile/samsung.webp' %}" class="img-fluid " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="realme" value="Realme" >
                    <label class="btn btn-outline-secondary p-0" for="realme" style="width: 70px;">  
                    <img src="{% static './images/mobile/realme.webp' %}" class="img-fluid " alt="Image 1">
                    </label>
                  </div>
                </div>

                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="honor" value="Honor" >
                    <label class="btn btn-outline-secondary p-0" for="honor" style="width: 70px;">  
                    <img src="{% static './images/mobile/honor.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="iqoo" value="IQoo" >
                    <label class="btn btn-outline-secondary p-0" for="iqoo" style="width: 70px;">  
                    <img src="{% static './images/mobile/iqoo.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="pcoc" value="Poco" >
                    <label class="btn btn-outline-secondary p-0" for="pcoc" style="width: 70px;">  
                    <img src="{% static './images/mobile/pcoc.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="letv" value="Letv" >
                    <label class="btn btn-outline-secondary p-0" for="letv" style="width: 70px;">  
                    <img src="{% static './images/mobile/letv.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                
                </div>
                <div class="row g-1 mb-2">
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="vivo" value="Vivo" >
                    <label class="btn btn-outline-secondary p-0" for="vivo" style="width: 70px;">  
                    <img src="{% static './images/mobile/vivo.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="oppo" value="Oppo" >
                    <label class="btn btn-outline-secondary p-0" for="oppo" style="width: 70px;">  
                    <img src="{% static './images/mobile/oppo.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="oneplus" value="Oneplus" >
                    <label class="btn btn-outline-secondary p-0" for="oneplus" style="width: 70px;">  
                    <img src="{% static './images/mobile/oneplus.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="asus" value="Asus" >
                    <label class="btn btn-outline-secondary p-0" for="asus" style="width: 70px;">  
                    <img src="{% static './images/mobile/asus.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                
                </div>
                <div class="row g-1">
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="moto" value="Motorola" >
                    <label class="btn btn-outline-secondary p-0" for="moto" style="width: 70px;">  
                    <img src="{% static './images/mobile/motorola.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="nokia" value="Nokia" >
                    <label class="btn btn-outline-secondary p-0" for="nokia" style="width: 70px;">  
                    <img src="{% static './images/mobile/nokia.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="Google" value="Google" >
                    <label class="btn btn-outline-secondary p-0" for="Google" style="width: 70px;">  
                    <img src="{% static './images/mobile/google.webp' %}" class="img-fluid  " alt="Image 1">
                    </label>
                  </div>
                
                  <div class="col">
                    <input type="radio"  class="btn-check "   name="data[BRAND]" id="other"  >
                    <label onclick="showhide1()" class="btn btn-outline-secondary p-3" for="other" style="width: 70px;">  
                    <img src="{% static './images/svg/other.svg' %}" class="img-fluid " alt="Image 1" style="width: 40px;">
                    </label>
                  </div>
                
                </div>
                <div class="row  p-0 m-0" id="otherbox1" style="display: none;" >
                <div class="col-12 p-0 mt-2">
                  <input type="text" class="form-control w-100  active border border-dark shadow shadow-lg " name="data[OTHER_BRNAD]" placeholder="Enter Company name">
                 </div>
                 </div>
                </div>
            </div>

           </div>
         
    
           <div class="  mb-5 text-center  " >
              <input  class="btn btn-warning w-75 shadow border  border-0 shadow-lg " type="button"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"  value="BOOK "  />
            </div>
          </form>
       {% endif %}
 </div>
    <br><br><br>
    <!-- Footer  -->
     <!-- --------Services icons------------------ -->
     <nav class="footer-nav" style="padding-bottom: 0px;">
      <a href="/" class="nav-item" id="home">
        <img src="{% static 'images/svg/home.svg' %}" width="50%"  alt="">
        <span>HOME</span>
      </a>

      <a href="/book" class="nav-item" id="buy-sell">
        <img src="{% static 'images/svg/sell.svg' %}"   width="50%" alt="">
        <span>BUY/SELL</span>
      </a>

      <a href="/product" class="nav-item" id="store">
        <img src="{% static 'images/svg/shop.svg' %}" width="50%"   alt="">
        <span>STORE</span>
      </a>

      <a href="/cart" class="nav-item" id="cart">
        <button type="button" class="btn bg-white position-relative p-0">
        <img src="{% static 'images/svg/cart.svg' %}" width="50%"  alt="">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
          {{request.session.cart.keys|length}}
        </span>
        <span style="font-size: x-small;">CART</span>
        </button>
      </a>

      <a href="/bookings" class="nav-item" id="settings">
        <img src="{% static 'images/svg/profile.svg' %}" width="50%"  alt="">
        <span>ACCOUNT</span>
      </a>

  

    </nav>
    <script src="{% static 'js/main.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const problemCheckboxes = document.querySelectorAll('input[name="data[PROBLEM]"]');
    const mobileection = document.getElementById('brand-section');

    // Function to scroll to the brand section
    function scrollTomobileection() {
      mobileection.scrollIntoView({ behavior: 'smooth' });
    }

    // Add event listener to each problem checkbox
    problemCheckboxes.forEach(function (checkbox) {
      checkbox.addEventListener("change", function () {
        if (this.checked) {
          scrollTomobileection();
        }
      });
    });
  });

  var form = document.getElementById('phone_repairing');
  form.addEventListener("submit", e => {
    e.preventDefault();
    fetch(form.action, {
        method : "POST",
        body: new FormData(document.getElementById("phone_repairing")),
    }).then(
        response => response.json()
    ).then((html) => {
      // you can put any JS code here
      window.location.href = "/rhis";
    });
  });

  
function showhide()
{
  var div = document.getElementById('otherbox');
  div.style.display = "block";

}

function showhide1()
{
  var div = document.getElementById('otherbox1');
  div.style.display = "block";

}
</script>
 
</body>
</html>
