{% extends 'base.html' %}  
{% block content %}
{% load static %}
  {% load cart %}

     

    

  <div class="container1 bg-white  " style="margin-top:29%;">
       {% if alert %}
           <div class="container mt-4">
                <h1 class=" h3 bg-warning text-dark rounded rouded-4 p-4 text-center mt-4"> Sorry 😥 Item not found !</h1>
           </div>
       {% endif %}
    <div class="row">
          {% for i in products %}
          <div class=" col-lg-3 col-6 mb-0 p-1 p-sm-3 ">
            <div class="mb-2 card   shadow shadow-sm p-1 " style="border-radius: 20px;border: 0.5px solid silver ">
              <img src="{{i.image.url}}" class="card-img-top mx-auto m-1 p-0  img-fluid " style="width: 150px;height: 150px;"  alt="..." id="{{i.id}}" width="8rem"  data-bs-toggle="modal" data-bs-target="#modal{{ i.id }}"> 
              <p class="card-title ms-2 ">{{i.name}}</p>
              <div class="box d-flex">
                <p class="  h5 p-0  text-dark w-50 text-center rounded ">{{i.price}} &#8377;</p>
                <p class="  fw-small p-0 bg-light text-dark w-50 text-center rounded " style="opacity: 70%;"><del>{{i.discount}} &#8377;</del></p>
            </div>
            <center>
              <small style="font-size: x-small;margin-top: -10px;">Free Delevery</small>
            </center>
              <div class="card-footer border-0 border bg-white  ">
                {% if i|check_cart:request.session.cart %}
                <div class="row no-gutters p-0" >

                  <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                    {% csrf_token %}
                    <input name="product" hidden type="text" value='{{i.id}}' />
                    <input type="text" hidden name="remove"  value="true">                       
                    <input type="submit"  value="-" class=" btn  w-50 btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">                       
                  </form>

                  <div class="text-center col pt-2 "><stronge>{{i|check_count:request.session.cart }}</stronge></div>
                  
                  <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                    {% csrf_token %}
                    <input name="product" hidden type="text" value='{{i.id}}' />
                    <input type="submit" value="+" class=" btn  w-50  text-center btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                     
                    </form>

                  </div>
                {% else %}
                <form action="/product/#{{i.id}}" method="POST" class="btn-block p-0">
                  {% csrf_token %}
                <input name="product" hidden type="text" value='{{i.id}}' />
                <input type="submit"  class="btn  border-rounded   border-opacity-75  rounded-5 shadow  w-100 text-white" name="cart" style="height:2rem;font-size: small;height: auto;background-color: #FF9900; "  value="BUY NOW" />

                </form>
                  {% endif %}
              </div>
              
         </div>
        </div> 

         <!-- Modal -->
  <div class="modal fade " id="modal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ i.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content p-0 gradient-border rounded rounded-2">
            <div class="modal-header">
                <h5 class="modal-title " id="modalLabel{{ i.id }}">{{i.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
              <center>
               <img src="{{ i.image.url }}" width="80%" alt="">
              </center>
              <hr>
              <p class="h3 p-2">{{i.name}}</p>
              <p class="h6 p-2">{{i.desc}}</p>
              <div class="box d-flex">
                <p class="  h2 ps-3  rounded ">{{i.price}} &#8377;</p>
                <p class=" ps-1 rounded " style="opacity: 80%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><small><del>{{i.discount}} &#8377;</del></small></p>
                </div>
                <div class="modal-footer border-0 border bg-white  ">
                  {% if i|check_cart:request.session.cart %}
                  <div class="row no-gutters p-0" >

                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="text" hidden name="remove"  value="true">                       
                      <input type="submit"  value="-" class=" btn  w-50 btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">                       
                    </form>

                    <div class="text-center col pt-2 "><stronge>{{i|check_count:request.session.cart }}</stronge></div>
                    
                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="submit" value="+" class=" btn  w-50  text-center btn-danger text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                       
                      </form>

                    </div>
                  {% else %}
                  <form action="/product/#{{i.id}}" method="POST" class="btn-block p-0">
                    {% csrf_token %}
                  <input name="product" hidden type="text" value='{{i.id}}' />
                  <input type="submit"  class="btn  border-rounded  bg-danger border-opacity-75  rounded-5 shadow  w-100 text-white" name="cart" style="height:2rem;font-size: small;height: auto;font-family: poppins; "  value="ORDER NOW" />
  
                  </form>
                    {% endif %}
                </div>
            </div>
         
        </div>
    </div>
</div>
        
         {% endfor %}
    </div>
    </div>
   
{% endblock %}